.Table {
    margin: 20px auto;
    width: 80%;
    font-size: 1rem;
    border-collapse: collapse;
}

.Table thead {
    background-color: #247ba0;
    color: #ffffff;
}

.Table,
th,
td {
    border: 2px solid #000000;
    padding: 10px;
}

.Table tbody tr:hover {
    background-color: #ddd;
}

.Pagination {
    margin: 5px 0;
}

.Pagination button {
    display: inline-block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 2px solid #000000;
    background-color: #247ba0;
    color: #ffffff;
    border-radius: 17px;
    cursor: pointer;
    outline: none;
}

.Pagination button:focus {
    outline: none;
}

.Pagination button:hover {
    border: 2px solid #247ba0;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.Pagination button:disabled {
    border: 2px solid #50514f;
    background-color: #ffffff;
    color: #50514f;
}

.Pagination button:hover:disabled {
    cursor: not-allowed;
}

.Page {
    margin: 10px auto;
    padding: 5px;
}

.GoToPage {
    margin: 5px auto;
}

.GoToPage p {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.GoToPage input,
.FilterInput {
    border: 2px solid #000000;
    padding: 5px;
}

.SelectPage {
    margin: 10px auto;
}